$main-font: "Raleway", sans-serif;
$page-heading-font: "Playfair Display", serif;

$bg-color-theme1: rgb(255, 233, 219);
$main-red: rgb(215, 37, 58);
$main-red-hex: #ee4545;
$light-black: #212b36;
$egg: #f9f9f9;
$main-red-op: #f89c95;
$coral: #f7877f;
$left-background: rgb(255, 248, 243);
$box-shadow: 6px 10px 33px -15px #c28181;
$text-shadow: 1px 1px 3px #cf74749c;

/* lets try a greener theme */
$bg-color-theme2: rgba(225, 255, 250, 0.87);
$main-teal: rgb(0, 114, 105);
$main-teal-hex: #007269;
$lighter-teal: #00ad9e;
$main-teal-op: #85b9a9;

// variables with screen size breakpoints
$break-xs: 320px;
$break-mobile: 480px;
$break-tablet: 765px;
$break-desktop: 976px;
$break-desktop-l: 1070px;
$break-1200: 1200px;
$x-large: 1500px;
