@import "../utils/variables";
body.theme-two .cv-page-container .overlay {
  background-color: $main-teal-op;
}
.cv-page-container {
  iframe {
    width: 100%;
    height: 800px;
    border-width: 1px;
    border-style: unset;
  }
  .container {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: $main-red-op;
  }

  .container:hover .overlay {
    opacity: 0.7;
  }

  .text {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    padding: 20px;
  }
}
