@import "../utils/variables";

.resume-content {
  width: 100%;
  display: block;
  background-color: $egg;
  color: $light-black;
  font-family: $main-font;
  #content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 32px;
    h1,
    h2 {
      color: $coral;
      font-weight: 400;
    }
  }
}
