.resume-content {
  width: 100%;
  display: block;
  background-color: #f9f9f9;
  color: #212b36;
  font-family: "Raleway", sans-serif;
  #content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 32px;
    h1,
    h2 {
      color: #f7877f;
      font-weight: 400;
    }
  }
}
