@import "../css/utils/variables";

.card {
  //   transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
  //   backface-visibility: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(237, 31, 86, 0.15) 10px 10px 0px;
  border-radius: 5px;
  text-align: center;
  padding: 40px 20px;
  p {
    font-weight: 100;
  }
}
