@import "../css/utils/variables";

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 38px 0 0;
  text-align: center;
  align-self: end;
  .footer-copywrite {
    padding-left: 10px;
    padding-top: 6px;
    opacity: 0.4;
  }
  .social-links {
    display: inline-flex;
    text-align: center;
    .logo-box {
      height: 2.3rem;
      width: 2.3rem;
      margin-right: 16px;
      margin-bottom: 6px;
    }
    img {
      width: 1.2rem;
      margin-top: 6px;
    }
  }
}
