@import "../css/boxStyled.scss";

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgb(255, 233, 219);

  .footer-copywrite {
    float: left;
    padding-left: 10px;
    padding-top: 6px;
  }
  .social-links {
    display: inline-flex;
    float: right;
    text-align: center;
    #logo {
      margin-right: 10px;
      margin-bottom: 6px;
    }
    img {
      width: 1.2rem;
      margin-top: 6px;
    }
  }

  /* logo style */
  .logo-box {
    height: 2.3rem;
    width: 2.3rem;
  }
}
