@import "../css/utils/variables";
body.theme-two header div.headerContent {
  .navlink[data-links] {
    background-image: linear-gradient($main-teal-hex, $main-teal-hex),
      linear-gradient($main-teal-op, $main-teal-op);
  }
  [data-links],
  .active {
    text-decoration: none;
    color: rgb(0, 174, 157);
  }
}
header {
  opacity: 1;
  margin-bottom: 1.45rem;
  div.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
    opacity: 1;
    h1 {
      margin: 0;
    }

    /* logo style */

    #logo {
      display: -webkit-flex;
      display: flex;
      pointer-events: all;
      position: relative;
      z-index: 10;
      text-decoration: none;
    }
    .logo-box {
      height: 2.5rem;
      width: 2.5rem;
    }

    /* Navlink styles */

    [data-links] {
      opacity: 0.5;
      display: flex;
      &.active {
        background-size: 100% 35%, 100% 35%;
        transition: box-shadow 0.3s cubic-bezier(0.5, 0.61, 0.355, 1);
      }
    }

    .navlink[data-links] {
      margin: 0px 5px;
      background-image: linear-gradient($main-red-hex, $main-red-hex),
        linear-gradient($main-red-op, $main-red-op);
      background-position: bottom left, bottom left;
      background-repeat: no-repeat;
      background-size: 0% 35%, 100% 35%;
      font-weight: 100;
      transition: background-size 0.3s cubic-bezier(0.5, 0.61, 0.355, 1),
        box-shadow 0.3s cubic-bezier(0.5, 0.61, 0.355, 1);
      border-radius: 0.125rem;
      text-decoration: none;
      &:hover {
        background-size: 100% 35%, 100% 35%;
      }
    }

    .active,
    .active .logo-text {
      opacity: 1;
      font-weight: 700;
    }

    [data-links],
    .active {
      text-decoration: none;
      color: rgb(238, 69, 69);
    }

    /* netlify Identity */

    .netlify-identity-menu {
      list-style: none;
      margin: 0;
    }
    .netlify-identity-signup,
    .netlify-identity-login,
    .netlify-identity-logout,
    .netlify-identity-menu {
      color: white;
    }
  }
}
