@import "../css/utils/variables";

#leftSection {
  background-color: rgb(255, 248, 243);
  box-shadow: $box-shadow;
  border: 1px solid $light-black;
  border-radius: 0.125rem;
  padding: 30px;
  z-index: 1;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;

  .content {
    align-self: center;
  }
  h1 {
    font-weight: 200;
    margin: 1rem 0;
  }
  h2 {
    font-weight: 300;
    opacity: 0.4;
  }
  a.logo-box {
    display: block;
    width: 8.125rem;
    line-height: 3;
    text-decoration: none;
    margin: 0 auto;
  }
  .logo-initial {
    font-size: 1.5rem;
  }
  #logo-sideBar {
    .logo-box {
      height: 3.125rem;
      width: 3.125rem;
    }
  }
}

@media only screen and (min-width: $break-tablet) {
  #leftSection {
    /* sticky css */
    height: 80vh;
    position: sticky;
    top: 2%;
    #logo-sideBar {
      .logo-box {
        height: 4.125rem;
        width: 4.125rem;
      }
    }
  }
}
